html, body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  text-align: left;
  font-family: 'Quicksand';
  float: center;
}
h1 {
  font-size: 50px;
}
p {
  font-size: 25px;
}
#section {
  padding: 120px;
  background-color: #28dcf8;
}
footer {
  padding: 60px;
  color: white;
  background-color: #333333;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 14px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    max-width: 300px;
    height: 100px;
    border-radius: 5px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}

li a:hover {
    background-color: #111;
}
code {
  background-color: #DCDCDC;
  font-size: 16px;
  border-radius: 2px;
}
#code {
  text-align: left;
}
.github {
  margin-top: 0px;
  margin-right: 0px;
  background-size: 60px 60px;
   border-radius: 50px;
   width: 100px;
   height: 100px;
}
.github:hover {
  background-color: white;
  border-radius: 50px;
  background-size: 45px 45px;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
table, td {
    border: 1px solid black;
    background-color: white;
    float: center;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  margin: -75px 0 0 -75px;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid green;
  border-left: 16px solid green;
  border-right: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
.toggle-button {
  position: fixed;
  width: 44px;
  height: 40px;
  padding: 4px;
  transition: .25s;
  z-index: 15;
}
.toggle-button:hover {
  cursor: pointer;
}
.toggle-button .menu-bar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  transition: .5s;
}
.toggle-button .menu-bar-top {
  border: 4px solid #555;
  border-bottom: none;
  top: 0;
}
.toggle-button .menu-bar-middle {
  height: 4px;
  background-color: #555;
  margin-top: 7px;
  margin-bottom: 7px;
  top: 4px;
}
.toggle-button .menu-bar-bottom {
  border: 4px solid #555;
  border-top: none;
  top: 22px;
}
.button-open .menu-bar-top {
  transform: rotate(45deg) translate(8px, 8px);
  transition: .5s;
}
.button-open .menu-bar-middle {
  transform: translate(230px);
  transition: .1s ease-in;
  opacity: 0;
}
.button-open .menu-bar-bottom {
  transform: rotate(-45deg) translate(8px, -7px);
  transition: .5s;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #1B1D1E;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            border: 1.5px solid #f5f5f5;
        }
        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: underline;
            font-size: 25px;
            color: #f5f5f5;
            display: block;
            transition: 0.3s;
            font-family: 'Lato';
        }
        .sidenav a:hover,
        .offcanvas a:focus {
            color: #28dcf8;
        }
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        #main {
            transition: margin-left 1s;
        }
        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }
            .sidenav a {
                font-size: 27px;
            }
        }
#section2 {
  padding: 230px;
  background-color:#1B1D1E;
  color: #f5f5f5;
}
#section2 a{
  text-decoration: underline;
  font-family: 'Lato';
  font-size: 30px;
  color: #f5f5f5;
}
#section2 a:hover{
  color: #28dcf8;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#section2 p{
  font-family: 'Quicksand';
}
#section2 h1{
  font-family: 'Lato';
}
