html, body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
  font-family: 'Quicksand';
}
h1 {
  font-size: 50px;
}
p {
  font-size: 25px;
}
#section {
  padding: 130px;
  background-color: #28dcf8;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
