html, body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
  font-family: 'Quicksand';
}
h1 {
  font-size: 50px;
}
p {
  font-size: 25px;
}
#section {
  padding: 80px;
  background-color: #28dcf8;
}
