html, body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  text-align: left;
  font-family: 'Quicksand';
  float: center;
}
h1 {
  font-size: 50px;
}
p {
  font-size: 25px;
}
#section {
  padding: 130px;
  background-color: #28dcf8;
}
footer {
  padding: 60px;
  color: white;
  background-color: #333333;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 14px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    max-width: 300px;
    height: 100px;
    border-radius: 5px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}

li a:hover {
    background-color: #111;
}
code {
  background-color: #DCDCDC;
  font-size: 16px;
  border-radius: 2px;
}
#code {
  text-align: left;
}
.github {
  margin-top: 0px;
  margin-right: 0px;
  background-size: 60px 60px;
   border-radius: 50px;
   width: 100px;
   height: 100px;
}
.github:hover {
  background-color: white;
  border-radius: 50px;
  background-size: 45px 45px;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
table, td {
    border: 1px solid black;
    background-color: white;
    float: center;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  margin: -75px 0 0 -75px;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid green;
  border-left: 16px solid green;
  border-right: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#content {
  display: none;
  text-align: center;
}
