html, body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
  font-family: 'Quicksand';
}
h1 {
  font-size: 50px;
}
p {
  font-size: 25px;
}
#section {
  padding: 170px;
  background-color: #28dcf8;
}
footer {
  padding: 60px;
  color: white;
  background-color: #333333;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 14px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    max-width: 300px;
    height: 70px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
code {
  background-color: #DCDCDC;
  font-size: 12px;
  border-radius: 2px;
}
